#cloud-config
package_update: true
packages:
  - nginx

runcmd:
  - systemctl enable nginx
  - systemctl start nginx
  - echo "Hello from a PRIVATE Azure subnet via Tailscale" > /var/www/html/index.html
